<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WethearApp</title>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="icon" href="./img/cloudIcon.png">
    </head>
    <body>
        <div class="main-content">
        {{>header}}

        <p>This is a wether-forcast Web-site</p>

        <form id="location" >
            <input placeholder="Location">
            <button>submit</button>
            <p id="city"></p>
            <p id="forcastMsg"></p>
            <span id="hourly"></span>
            <img id="hourly-img">
        </form>
        </div>
    
        {{>footer}}

        <script src="./js/app.js"></script>
    </body>
</html>